[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/webview"]
	path = third_party/webview
	url = https://github.com/webview/webview.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/toml11"]
	path = third_party/toml11
	url = https://github.com/ToruNiina/toml11.git
